// Nextflow requires a `main.nf` and a `nextflow.config` file
// to be present in the repository.
// Actual workflows are in the `src/workflows/` directory.

manifest {
  nextflowVersion = '!>=20.12.1-edge'
}

process.errorStrategy = 'ignore'
process.executor = 'slurm'

env {
  LD_LIBRARY_PATH = "/home/icb/vladimir.shitov/software/miniconda3/envs/sample_representation_benchmark/lib:$LD_LIBRARY_PATH"
}

process {
  executor = 'slurm'
}

trace {
  enabled = true
}
timeline {
  enabled = true
}
report {
  enabled = true
}

profiles {
  standard {
    process {
      withLabel: 'gpu' {
        queue = 'gpu_p'
        clusterOptions = '--qos=gpu_normal --cpus-per-task=24 --mem=300G --gres=gpu:2 --time=7:59:00 --nice=10000'
      }

      withLabel: 'singlecpu' {
        queue = 'cpu_p'
        clusterOptions = '--qos=cpu_normal --cpus-per-task=1 --mem=300G --time=7:59:00 --nice=10000'
      }

      withLabel: 'highcpu' {
        queue = 'cpu_p'
        clusterOptions = '--qos=cpu_normal --cpus-per-task=32 --mem=300G --time=7:59:00 --nice=10000'
      }
    }
  }
}