manifest {
  nextflowVersion = '!>=20.12.1-edge'
}

params {
  rootDir = java.nio.file.Paths.get("$projectDir/../../../").toAbsolutePath().normalize().toString()
}

process {
  maxForks = 1  // Ensure only one process runs at a time
}

// include common settings
includeConfig("${params.rootDir}/src/workflows/utils/labels.config")
