manifest {
  nextflowVersion = '!>=20.12.1-edge'
}

params {
  rootDir = java.nio.file.Paths.get("$projectDir/../../../").toAbsolutePath().normalize().toString()
}

process {
  maxForks = 1  // Ensure only one process runs at a time
  
  withName: 'download_combat' {
    label = 'veryhighmem'  // This will request 75GB memory
  }
  
  withName: 'download_stephenson' {
    label = 'highmem'  // This will request 50GB memory
  }
}

// include common settings
includeConfig("${params.rootDir}/src/workflows/utils/labels.config")
