// ADAPT rootDir ACCORDING TO RELATIVE PATH WITHIN PROJECT
rootDir = java.nio.file.Paths.get("$projectDir/../../")
params {
  rootDir = rootDir.toAbsolutePath().normalize().toString()
  output_dir = "$rootDir/data"
  compression = "gzip"
}

// detect tempdir
tempDir = java.nio.file.Paths.get(
  System.getenv('NXF_TEMP') ?:
  System.getenv('VIASH_TEMP') ?: 
  System.getenv('TEMPDIR') ?: 
  System.getenv('TMPDIR') ?: 
  '/tmp'
).toAbsolutePath() 